
<div class="details">
  <div class="recentOrders">
    <div class="cardHeader">
      <h2>New Employee</h2>
    </div>
    <div class="details">
      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" name="fname" class="form-control" formControlName="firstName" id="fname"
              aria-describedby="emailHelp" placeholder="Enter First Name" />
            <div
              *ngIf="employeeForm.get('firstName')?.errors && (employeeForm.get('firstName')?.dirty || employeeForm.get('firstName')?.touched)">
              <div *ngIf="employeeForm.get('firstName')?.errors?.['required']" class="text-danger">
                First Name is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="lname">Last Name</label>
            <input formControlName="lastName" type="text" name="lname" class="form-control" id="Lname"
              aria-describedby="emailHelp" placeholder="Enter Last Name" />
            <div
              *ngIf="employeeForm.get('lastName')?.errors && (employeeForm.get('lastName')?.dirty || employeeForm.get('lastName')?.touched)">
              <div *ngIf="employeeForm.get('lastName')?.errors?.['required']" class="text-danger">
                Last Name is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="country">Country</label>
            <input formControlName="country" type="text" name="country" class="form-control" id="country"
              aria-describedby="emailHelp" placeholder="Enter Country" />
            <div
              *ngIf="employeeForm.get('country')?.errors && (employeeForm.get('country')?.dirty || employeeForm.get('country')?.touched)">
              <div *ngIf="employeeForm.get('country')?.errors?.['required']" class="text-danger">
                Country is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input formControlName="city" name="city" type="text" class="form-control" id="city"
              aria-describedby="emailHelp" placeholder="Enter City" />
            <div
              *ngIf="employeeForm.get('city')?.errors && (employeeForm.get('city')?.dirty || employeeForm.get('city')?.touched)">
              <div *ngIf="employeeForm.get('city')?.errors?.['required']" class="text-danger">
                City is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="gender">Gender</label>
            <input formControlName="gender" name="gender" type="text" class="form-control" id="gender"
              aria-describedby="emailHelp" placeholder="Enter Gender" />
            <div
              *ngIf="employeeForm.get('gender')?.errors && (employeeForm.get('gender')?.dirty || employeeForm.get('gender')?.touched)">
              <div *ngIf="employeeForm.get('gender')?.errors?.['required']" class="text-danger">
                Gender is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="bd-date">Birth Date</label>
            <input formControlName="birthDate" name="birthdate" type="date" class="form-control" id="db-date"
              aria-describedby="emailHelp" placeholder="Enter birth date" />
            <div
              *ngIf="employeeForm.get('birthDate')?.errors && (employeeForm.get('birthDate')?.dirty || employeeForm.get('birthDate')?.touched)">
              <div *ngIf="employeeForm.get('birthDate')?.errors?.['required']" class="text-danger">
                Birthdate is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="nation">Nationality</label>
            <input formControlName="nationality" name="nationality" type="text" class="form-control" id="nation"
              aria-describedby="emailHelp" placeholder="Enter nationality" />
            <div
              *ngIf="employeeForm.get('nationality')?.errors && (employeeForm.get('nationality')?.dirty || employeeForm.get('nationality')?.touched)">
              <div *ngIf="employeeForm.get('nationality')?.errors?.['required']" class="text-danger">
                Nationality is required.
              </div>
            </div>
          </div>
          <!-- Add more form controls here for the left column -->
        </div>
        <div class="col-md-6">

          <div class="form-group">
            <label for="nationid">National ID</label>
            <input formControlName="nationalId" name="nationalid" type="string" class="form-control" id="nationid"
              aria-describedby="emailHelp" placeholder="Enter nationality ID" />
            <div
              *ngIf="employeeForm.get('nationalId')?.errors && (employeeForm.get('nationalId')?.dirty || employeeForm.get('nationalId')?.touched)">
              <div *ngIf="employeeForm.get('nationalId')?.errors?.['required']" class="text-danger">
                National ID is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="hireDate">Hire Date</label>
            <input formControlName="hireDate" name="hiredate" type="date" class="form-control" id="hiredate"
              aria-describedby="emailHelp" placeholder="Enter hire date" />
            <div
              *ngIf="employeeForm.get('hireDate')?.errors && (employeeForm.get('hireDate')?.dirty || employeeForm.get('hireDate')?.touched)">
              <div *ngIf="employeeForm.get('hireDate')?.errors?.['required']" class="text-danger">
                Hire date is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="salary">Salary</label>
            <input formControlName="salary" name="salary" type="number" class="form-control" id="salary"
              aria-describedby="emailHelp" placeholder="Enter salary" />
            <div
              *ngIf="employeeForm.get('salary')?.errors && (employeeForm.get('salary')?.dirty || employeeForm.get('salary')?.touched)">
              <div *ngIf="employeeForm.get('salary')?.errors?.['required']" class="text-danger">
                Salary is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="arriveTime">Arrive time</label>
            <input formControlName="arrivalTime" name="arriveTime" type="time" class="form-control" id="arriveTime"
              aria-describedby="emailHelp" placeholder="Enter arrive time" />
            <div
              *ngIf="employeeForm.get('arrivalTime')?.errors && (employeeForm.get('arrivalTime')?.dirty || employeeForm.get('arrivalTime')?.touched)">
              <div *ngIf="employeeForm.get('arrivalTime')?.errors?.['required']" class="text-danger">
                Arrive time is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="leaveTime">Leave time</label>
            <input formControlName="leaveTime" name="leaveTime" type="time" class="form-control" id="leaveTime"
              aria-describedby="emailHelp" placeholder="Enter leave time" />
            <div
              *ngIf="employeeForm.get('leaveTime')?.errors && (employeeForm.get('leaveTime')?.dirty || employeeForm.get('leaveTime')?.touched)">
              <div *ngIf="employeeForm.get('leaveTime')?.errors?.['required']" class="text-danger">
                Leave time is required.
              </div>
            </div>
          </div>
          <div class="my-3">
            <label for="departmentId" class="form-label">Department Name</label>
            <select class="form-select" formControlName="departmentId" name="deptId">
              <option value="0">Select a department</option>
              <option *ngFor="let dept of departments" [value]="dept.id">{{ dept.deptName }}</option>
            </select>
            <div
              *ngIf="employeeForm.get('departmentId')?.errors && (employeeForm.get('departmentId')?.dirty || employeeForm.get('departmentId')?.touched)">
              <div *ngIf="employeeForm.get('departmentId')?.errors?.['required']" class="text-danger">
                Department is required.
              </div>
            </div>
          </div>
        </div>
        <div class="form-group text-end mt-3 addBtn col-md-12">
          <button [routerLink]="['/employee']" class="btn btn-secondary me-3"style="width: 90px; background-color: gray; border: none">Back</button>
          <button type="submit" class="btn" style="width: 90px;">{{employeeId == 0 ? 'Save' : 'Update'}}</button>
        </div>
      </form>
    </div>

  </div>
</div>