
<div class="details" dir="auto">
  <div class="recentOrders">
    <div class="cardHeader">
      <h2>{{'newEmployee' | translate }}</h2>
    </div>
    <div class="details">
      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="row" >
        <div class="col-md-6">
          <div class="form-group">
            <label for="fname">{{'firstName' | translate }}</label>
            <input type="text" name="fname" class="form-control" formControlName="firstName" id="fname"
              aria-describedby="emailHelp" placeholder="{{'placeHolderFirstName' | translate}}" />
            <div
              *ngIf="employeeForm.get('firstName')?.errors && (employeeForm.get('firstName')?.dirty || employeeForm.get('firstName')?.touched)">
              <div *ngIf="employeeForm.get('firstName')?.errors?.['required']" class="text-danger">
                {{'valFirstNameRequired' | translate }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="lname">{{'lastName' | translate }}</label>
            <input formControlName="lastName" type="text" name="lname" class="form-control" id="Lname"
              aria-describedby="emailHelp" placeholder="{{'placeHolderLastName' | translate }}" />
            <div
              *ngIf="employeeForm.get('lastName')?.errors && (employeeForm.get('lastName')?.dirty || employeeForm.get('lastName')?.touched)">
              <div *ngIf="employeeForm.get('lastName')?.errors?.['required']" class="text-danger">
                {{'valLastNameRequired' | translate }} 
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="country">{{'country' | translate }}</label>
            <input formControlName="country" type="text" name="country" class="form-control" id="country"
              aria-describedby="emailHelp" placeholder="{{'placeHolderCountry' | translate }}" />
            <div
              *ngIf="employeeForm.get('country')?.errors && (employeeForm.get('country')?.dirty || employeeForm.get('country')?.touched)">
              <div *ngIf="employeeForm.get('country')?.errors?.['required']" class="text-danger">
                {{'valCountryRequired' | translate }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="city">{{'city' | translate }}</label>
            <input formControlName="city" name="city" type="text" class="form-control" id="city"
              aria-describedby="emailHelp" placeholder="{{'placeHolderCity' | translate }}" />
            <div
              *ngIf="employeeForm.get('city')?.errors && (employeeForm.get('city')?.dirty || employeeForm.get('city')?.touched)">
              <div *ngIf="employeeForm.get('city')?.errors?.['required']" class="text-danger">
                {{'valCityRequired' | translate }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="gender">{{'gender' | translate}}</label>
            <input formControlName="gender" name="gender" type="text" class="form-control" id="gender"
              aria-describedby="emailHelp" placeholder="{{'placeHolderGender' | translate}}" />
            <div
              *ngIf="employeeForm.get('gender')?.errors && (employeeForm.get('gender')?.dirty || employeeForm.get('gender')?.touched)">
              <div *ngIf="employeeForm.get('gender')?.errors?.['required']" class="text-danger">
                {{'valGenderRequired' | translate }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="bd-date">{{'birthDate' | translate }}</label>
            <input formControlName="birthDate" name="birthdate" type="date" class="form-control" id="db-date"
              aria-describedby="emailHelp" placeholder="{{'placeHolderBirthDate' | translate }}" />
            <div
              *ngIf="employeeForm.get('birthDate')?.errors && (employeeForm.get('birthDate')?.dirty || employeeForm.get('birthDate')?.touched)">
              <div *ngIf="employeeForm.get('birthDate')?.errors?.['required']" class="text-danger">
                {{'valBirthDateRequired' | translate }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="nation">{{'nationality' | translate }}</label>
            <input formControlName="nationality" name="nationality" type="text" class="form-control" id="nation"
              aria-describedby="emailHelp" placeholder="{{'placeHolderNationality' | translate }}" />
            <div
              *ngIf="employeeForm.get('nationality')?.errors && (employeeForm.get('nationality')?.dirty || employeeForm.get('nationality')?.touched)">
              <div *ngIf="employeeForm.get('nationality')?.errors?.['required']" class="text-danger">
                {{'valNationalityRequired' | translate }}
              </div>
            </div>
          </div>
          <!-- Add more form controls here for the left column -->
        </div>
        <div class="col-md-6">

          <div class="form-group">
            <label for="nationid">{{'nationalId' | translate }}</label>
            <input formControlName="nationalId" name="nationalid" type="string" class="form-control" id="nationid"
              aria-describedby="emailHelp" placeholder="{{'placeHolderNationalityId' | translate }}" />
            <div
              *ngIf="employeeForm.get('nationalId')?.errors && (employeeForm.get('nationalId')?.dirty || employeeForm.get('nationalId')?.touched)">
              <div *ngIf="employeeForm.get('nationalId')?.errors?.['required']" class="text-danger">
                {{'valNationalityIdRequired' | translate }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="hireDate">{{'hireDate'| translate }}</label>
            <input formControlName="hireDate" name="hiredate" type="date" class="form-control" id="hiredate"
              aria-describedby="emailHelp" placeholder="Enter hire date" />
            <div
              *ngIf="employeeForm.get('hireDate')?.errors && (employeeForm.get('hireDate')?.dirty || employeeForm.get('hireDate')?.touched)">
              <div *ngIf="employeeForm.get('hireDate')?.errors?.['required']" class="text-danger">
                {{'valHireDateRequired' | translate }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="salary">{{'salary' | translate }}</label>
            <input formControlName="salary" name="salary" type="number" class="form-control" id="salary"
              aria-describedby="emailHelp" placeholder="{{'placeHolderSalary' | translate }}" />
            <div
              *ngIf="employeeForm.get('salary')?.errors && (employeeForm.get('salary')?.dirty || employeeForm.get('salary')?.touched)">
              <div *ngIf="employeeForm.get('salary')?.errors?.['required']" class="text-danger">
                {{'valSalaryRequired' | translate }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="arriveTime">{{'arriveTime' | translate }}</label>
            <input formControlName="arrivalTime" name="arriveTime" type="time" class="form-control" id="arriveTime"
              aria-describedby="emailHelp" placeholder="Enter arrive time" />
            <div
              *ngIf="employeeForm.get('arrivalTime')?.errors && (employeeForm.get('arrivalTime')?.dirty || employeeForm.get('arrivalTime')?.touched)">
              <div *ngIf="employeeForm.get('arrivalTime')?.errors?.['required']" class="text-danger">
                {{'valArriveTimeRequired' | translate }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="leaveTime">{{'leaveTime' | translate }}</label>
            <input formControlName="leaveTime" name="leaveTime" type="time" class="form-control" id="leaveTime"
              aria-describedby="emailHelp" placeholder="Enter leave time" />
            <div
              *ngIf="employeeForm.get('leaveTime')?.errors && (employeeForm.get('leaveTime')?.dirty || employeeForm.get('leaveTime')?.touched)">
              <div *ngIf="employeeForm.get('leaveTime')?.errors?.['required']" class="text-danger">
                {{'valLeaveTimeRequired' | translate }}
              </div>
            </div>
          </div>
          <div class="my-3">
            <label for="departmentId" class="form-label">{{'deptName' | translate }}</label>
            <select class="form-select" formControlName="departmentId" name="deptId">
              <option value="0">{{'department' | translate  }}</option>
              <option *ngFor="let dept of departments" [value]="dept.id">{{ dept.deptName }}</option>
            </select>
            <div
              *ngIf="employeeForm.get('departmentId')?.errors && (employeeForm.get('departmentId')?.dirty || employeeForm.get('departmentId')?.touched)">
              <div *ngIf="employeeForm.get('departmentId')?.errors?.['required']" class="text-danger">
                {{'valDepartmentRequired' | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="form-group text-end mt-3 addBtn col-md-12">
        
          <button type="submit" class="btn" style="width: 90px;">{{employeeId == 0 ? ('create' | translate ) : ('update' | translate )}}</button>
          <button [routerLink]="['/employee']" class="btn btn-secondary me-3"style="width: 90px; background-color: gray; border: none">Back</button>
        </div>
      </form>
    </div>

  </div>
</div>