<div class="details">
  <div class="recentOrders">
    <div class="cardHeader">
      <h2>Employees</h2>
    </div>

    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Country</td>
          <td>City</td>
          <td>Salary</td>
          <td>Nationality</td>
          <td></td>

        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let a of employees">
          <td>{{ a.firstName }}{{ a.lastName }}</td>
          <td>{{ a.country }}</td>
          <td>{{ a.city }}</td>
          <td>{{ a.salary }}</td>
          <td>{{ a.nationality }}</td>
          <td>
            <button class="btn btn-danger" (click)="navigateToEditEmployee(a.id)">
              Update
            </button>
            <button class="btn" [routerLink]="['/addEmployee', a.id]">
              <i class="fas fa-edit"></i>
            </button>

            <button class="btn" (click)="addSettings(a.id)">
              <i class="fas fa-cog"></i>
            </button>

            <button class="btn" (click)="deleteEmp(a.id)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button (click)="navigateToAddEmployee()" >add employee</button>

    <div class="text-end mt-3 addBtn">
      <a [routerLink]="['/addEmployee']" class="btn">Add Employee</a>
    </div>
  </div>
</div>