
<div class="details">
  <div class="recentOrders">
    <div class="cardHeader">
      <h2>Settings</h2>
    </div>
    
<form [formGroup]="settingForm" (ngSubmit)="onSubmit()" class="container mt-5">
  <!-- overtime -->
  <div class="form-group">
    <label for="overtime">overtime</label>
    <input type="text" id="overtime" formControlName="overtimeHour" class="form-control" placeholder="Hour">
    <div [hidden]="settingForm.get('overtimeHour')?.valid || settingForm.get('overTimeHour')?.untouched">
      <small *ngIf="settingForm.get('overtimeHour')?.errors?.['required'] && settingForm.get('overtimeHour')?.touched" class="text-danger">overTime is required</small>
    </div>
  </div>

  <!-- discount -->
  <div class="form-group">
      <label for="discount">discount</label>
      <input type="text" id="discountHour" formControlName="discountHour" class="form-control" placeholder="Hour">
      <div [hidden]="settingForm.get('discountHour')?.valid || settingForm.get('discountHour')?.untouched">
        <small *ngIf="settingForm.get('discountHour')?.errors?.['required'] && settingForm.get('discountHour')?.touched" class="text-danger">discount is required</small>
<form [formGroup]="settingForm" (ngSubmit)="onSubmit()" class="container mt-5" dir="auto">
    <!-- overtime -->
    <div class="form-group">
      <label for="overtime">overtime</label>
      <input type="text" id="overtime" formControlName="overtimeHour" class="form-control" placeholder="Hour">
      <div [hidden]="settingForm.get('overtimeHour')?.valid || settingForm.get('overTimeHour')?.untouched">
        <small *ngIf="settingForm.get('overtimeHour')?.errors?.['required'] && settingForm.get('overtimeHour')?.touched" class="text-danger">overTime is required</small>
      </div>
   </div>
   <div class="form-group">
      <label for="weekend1">Weekend1:</label>
      <select class="form-control" formControlName="weekend1">
        <option value="">Select Weekend</option>
        <option *ngFor="let weekday of weekdays" [value]="weekday">{{ weekday }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="weekend2">Weekend2:</label>
      <select  class="form-control" formControlName="weekend2">
        <option value="">Select Weekend</option>
        <option *ngFor="let weekday of weekdays" [value]="weekday">{{ weekday }}</option>
      </select>
    </div>
    <div *ngIf="settingForm.errors?.['weekendsNotDifferent']" class="text-danger">
      Weekends must be different.
    </div>
    
    <div class="addBtn text-end mt-5">
      <button [routerLink]="['/employee']"  style="width: 90px; background-color: gray; border: none" class="btn btn-secondary me-3">Back</button>
      <button type="submit"  style="width: 90px;" class="btn btn-primary">{{generalSetting == null ? "Save" :"Update"}}</button>
    </div>
  

</form>


  </div>
</div>


