
<div class="details" dir="auto">
    <div class="recentOrders">
        <div class="cardHeader">
            <h2>{{'attendance' | translate }}</h2>
        </div>

        <table>
            <thead>
                <tr>
                    <td>{{'deptName' | translate }}</td>
                    <td>{{'employees' | translate }}</td>
                    <td>{{'arriveTime' | translate }}</td>
                    <td>{{'leaveTime' | translate }}</td>
                    <td>{{'day' | translate }}</td>
                    <td></td>

                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let a of attendances">
                    <td>
                        {{a.departmentName}}
                    </td>
                    <td>
                        {{a.employeeName}}
                    </td>
                    <td>
                        {{a.arrivalTime}}
                    </td>
                    <td>
                        {{a.leaveTime}}
                    </td>
                    <td>
                        {{a.date | date:'yyyy-MM-dd'}}
                    </td>
                    <td>
                        <button class="btn" (click)="navigateToEditAttendance(a.id)">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn" (click)="deleteAttendance(a.id)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                </tr>
            </tbody>
        </table>
        <div class="text-end mt-3 addBtn">
            <a (click)="navigateToAddAttendance()" class="btn">{{'addEmployee' | translate }}</a>
        </div>
    </div>
</div>