
<div class="details">
    <div class="recentOrders">
        <div class="cardHeader">
            <h2>Employee Attendance </h2>
        </div>
        <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="my-3">
                <label for="employeeId" class="form-label">Employee Name</label>
                <select class="form-select" formControlName="employeeId" name="employeeId">
                    <option value="0">Select an employee</option>
                    <option *ngFor="let emp of employees" [value]="emp.id">{{emp.firstName}}</option>
                </select>
                <div
                    *ngIf="myForm.get('employeeId')?.errors && (myForm.get('employeeId')?.dirty || myForm.get('employeeId')?.touched)">
                    <div *ngIf="myForm.get('employeeId')?.errors?.['required']" class="text-danger">Employee is
                        required.</div>
                </div>
            </div>
            <div class="my-3">
                <label for="arrivalTime" class="form-label">Arrival Time</label>
                <input class="form-control" formControlName="arrivalTime" type="time" name="arrivalTime"
                    placeholder="Enter arrival time">
                <div
                    *ngIf="myForm.get('arrivalTime')?.invalid && (myForm.get('arrivalTime')?.dirty || myForm.get('arrivalTime')?.touched)">
                    <div *ngIf="myForm.get('arrivalTime')?.errors?.['required']" class="text-danger">Arrival time is
                        required.</div>
                </div>
            </div>
            <div class="my-3" *ngIf="attendId != 0">
                <label for="leaveTime" class="form-label">Leave Time</label>
                <input class="form-control" formControlName="leaveTime" type="time" name="leaveTime"
                    placeholder="Enter leave time">
            </div>
            <div class="my-3">
                <label for="date" class="form-label">Date</label>
                <input class="form-control" formControlName="date" type="date" name="date" placeholder="Enter date">
                <div *ngIf="myForm.get('date')?.errors && (myForm.get('date')?.dirty || myForm.get('date')?.touched)">
                    <div *ngIf="myForm.get('date')?.errors?.['required']" class="text-danger">Date is required.</div>
                </div>
            </div>
            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
            <div class="addBtn text-end mt-5">
                <button [routerLink]="['/attendance']" class="btn btn-secondary me-3"style="width: 90px; background-color: gray; border: none">Back</button>
                <button type="submit" style="width: 90px;" class="btn">{{attendId == 0 ? "Add" : "Update"}}</button>
            </div>
        </form>

    </div>
</div>