<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isLoggedIn()">
  <div class="container">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="employee">Employee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="holidays">Public Holidays</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="permissions">Permissions</a>
      </li>
      <li *ngIf="role ==='HR'" class="nav-item">
        <a class="nav-link" routerLink="register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">LogIn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="logout" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
