
<div class="details" dir="auto">
  <div class="recentOrders">
    <div class="cardHeader">
      <h2>{{'publicHolidays' | translate }}</h2>
    </div>

    <table>
      <thead>
        <tr>
          <td>{{'holidayName' | translate }}</td>
          <td>{{'day' | translate }}</td>
          <td></td>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let h of holidays">
          <td>{{ h.name }}</td>
          <td>{{ h.day }}</td>
          <td>
            <button class="btn" [routerLink]="['/editholiday',h.id]">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn" (click)="delete(h.id)"><i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
    <div class="text-end mt-3 addBtn">
      <a [routerLink]="['/insert']" class="btn">{{'insertNewPublicHoliday' | translate }} </a>
    </div>
  </div>
</div>