
  <div class="details" dir="auto">
    <div class="recentOrders">
      <div class="cardHeader">
        <h2>{{'users' | translate }}</h2>
      </div>
  
      <table>
        <thead>
        <tr>
          <th>{{'role' | translate}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of permissionRoles">
          <td>{{ role.name }}</td>
          <td>
            <button class="btn" (click)="navigateToEditPermission(role.roleId)">
              <i class="fas fa-edit"></i>
            </button>
                      
            
            <button class="btn" (click)="deleteRole(role.roleId)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="text-end mt-3 addBtn">
        <a (click)="navigateToAddPermission()" class="btn">{{'addRole'|translate }}</a>
      </div>
    </div>
  </div>