<div class="container mt-5">
    <form (ngSubmit)="update()" class="bg-light p-4 rounded">
      <div class="form-group">
        <label for="holidayName">Holiday Name</label>
        <input type="text" class="form-control" id="holidayName" placeholder="Enter Holiday Name" name="name" [(ngModel)]="name">
      </div>
      <div class="form-group">
        <label for="holidayDate">Holiday Date</label>
        <input type="datetime-local" class="form-control" id="holidayDate" placeholder="Enter Holiday Date" name="day" [(ngModel)]="day">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  
